VITE_VAULT_PROGRAM_ID=DGXrmuhPvYJEWytSpZPB3PCA2zNvSsNvctkAeS924473
VITE_NFT_PROGRAM_ID=ACM92DSXA9ebVyxQpZf4EKDvuEgXsiAkD6Us8kTcGVh7
VITE_TOKEN_PROGRAM_ID=BSCgQLPHjjvoH6qbG59dyxUTfcK6jAqFDdPk6MNN7sEz
VITE_OWNER_PUBKEY=GXHdciYz5RQS5oGyF7JWF61sxFNuM4RxXw2s2ZX25cVd
VITE_SHARE_MINT=FnMPfhmtZ8LTR8gbWbR4rUmY1tdLiUm4apwfh1efXihA

VITE_VAULT_VERSION=v2

# Collection and Asset Addresses
VITE_COLLECTION_PDA=2okdWdXycjkKeC6aE1UTyUmxZndRR45dzfWGA9xsBTYz
VITE_VAULT_ASSET_MINT=DjgG2FYvDLnpu7Br5wcHCuYapjXdZAi29qEBxghBgw6P
VITE_VAULT_PDA=7pngwwvzETyc5xrBveeU2NhnBq2zrdoDtPdtbdZhtAoY


#Deposited token addresses to vault
VITE_MINT_1=DjgG2FYvDLnpu7Br5wcHCuYapjXdZAi29qEBxghBgw6P